/build
/Debug
/DebugMem
/Release
/Simulator
/Simulator-Coverage
/Simulator-Profile
/Device-Debug
/Device-Coverage
/Device-Profile
/Device-Release
/res/shaders
/res/logo_powered_white.png
/sample02-spaceship.xcodeproj/xcuserdata
/android/NUL
/android/project.properties
/android/assets
/android/bin
/android/gen
/android/libs
/android/obj
/android/src
/android/proguard.cfg
/android/local.properties
*.exe
*.dll
